{% if vm.net is defined %}
#network:
version: 2
ethernets:
 enp1s0:
   addresses:
     - {{ vm.net.ip }}
   gateway4: {{ vm.net.gateway }}
   nameservers:
     addresses:  {{ vm.net.dns }}
     search:     ["{{ vm.net.domain }}"]
{% else %}
#network:
version: 2
 ethernets:
  enp1s0:
    dhcp4: true
{% endif %}
